.input-group
  = mc.hidden_field(:id)
  = mc.select :category_id, options_for_select(Category.all.map{|x| [x.name, x.id]}.sort, mc.object.category_id), {include_blank: true}, class: 'form-control'
  %span.input-group-addon
    %span.glyphicon.glyphicon-remove
      = mc.hidden_field(:_destroy)